@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #aad1e2;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #35536b;
  background-size: cover;
  min-height: 190px;
  background-position: 25% 0%;
  border-bottom: 10px double #fff;
  padding-top: 1rem;
}

.link {
  position: absolute;
  top: 20px;
  left: 130px;
}

main {
  background-color: #e5e5f1;
  margin-bottom: 1rem;
  opacity: .7;
}

h1 {
  font-family: "Pattaya", sans-serif;
}

h2 {
  font-family: "Pattaya", sans-serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
}

a > img {
  opacity: .5;
}

a {
  text-decoration: none;
  color: #fff;
}

nav > ul > li > a {
  width: 5rem;
  font-size: 15px;
  margin-bottom: 1rem;
}

ul > li > a:hover {
  background-color: #63a8c7;
  border-radius: 8px;
  border: 3px solid #35536b;
}

a.card:hover {
  background-color: #63a8c7;
  border-radius: 10px;
  border: 3px solid #35536b;
}

.nav-card {
  border: 2px solid #63a8c7;
  border-radius: 5px;
}

.nav-card:hover {
  background-color: #63a8c7;
  border: 2px solid #63a8c7;
  border-radius: 8px;
}

.icon {
  width: 6rem;
  height: 6rem;
  top: 17px;
}

i > img {
  border-radius: 5px;
}

.border {
  border: 3px solid #35536b;
  border-radius: 10px;
}

.hover1:hover {
  width: 120%;
}

.hover2:hover {
  width: 125%;
  opacity: 1;
}

.hover3:hover {
  width: 100%;
  opacity: 1;
}

.social {
  width: 40px;
  height: 40px;
  margin-top: 7px;
}

section > div > img:hover {
  border-radius: 30px;
  border: 3px solid #35536b;
}

footer {
  background-color: #35536b;
  border-top: 10px double #fff;
}

footer > div > a:hover {
  background-color: #63a8c7;
  border-radius: 8px;
}

@media only screen and (min-width: 25em) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  section > div > img {

    width: 100%;

  }

  .hover1:hover {
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  section > div > img {
    width: 100%;
    opacity: .7;
  }

  .horizontal {
    max-width: 87%;
  }

  .hover1:hover {
    width: 100%;
    opacity: .9;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 50px;
    margin: 2rem;
  }

  h3 {
    padding-top: .5rem;
    font-size: 30px;
  }

  section > div > img {
    width: 100%;
    opacity: .7;
  }

  .hover1:hover {
    width: 100%;
    opacity: 1;
  }

  .horizontal {
    max-width: 85%;
    text-align: center;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 70px;
    margin: 3rem;
  }

  h3 {
    padding-top: 2rem;
    font-size: 30px;
  }

  .hover1:hover {
    width: 100%;
    opacity: .9;
  }

  .horizontal {
    max-width: 85%;
    text-align: center;
  }

}
