body {
  background-color: #000;
  font-family: "Architects Daughter", sans-serif;
  color: #fff;
}

.pink {
  background-color: #f99dba;
  border-style: dotted;
  border-radius: 80px;
  border-bottom-left-radius: 0;
  font-family: Cookie, sans-serif;
}

.blue {
  background-color: #96d0de;
  border-style: dotted;
  border-radius: 80px;
  border-bottom-right-radius: 0;
  font-family: Cookie, sans-serif;
}

.love {
  font-family: "Architects Daughter", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
