body {
  background-color: #c0e4da;
  font-family: Dosis, sans-serif;
}

.philippines {
  font-family: "Luckiest Guy", sans-serif;
}

li {
  padding: 1em;
}

.king {
  background-color: #009ad7;
  color: #fff;
  border-radius: 8px;
  border-color: #000;
  padding: 1em;
  margin: 0;
}

.seven-thousand {
  background-color: #ffee32;
  border-radius: 8px;
  border-color: #000;
  padding: 1em;
}

.culture {
  background-color: #ff584b;
  color: #fff;
  border-radius: 8px;
  border-color: #000;
  padding: 1em;
}

.independence {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border-color: #000;
  padding: 1em;
}
